<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>32BitSupportedModels</key>
	<array>
		<string>MacBook7,1</string>
		<string>MacBookAir5,2</string>
		<string>MacBookPro10,1</string>
		<string>MacPro5,1</string>
		<string>Macmini5,3</string>
		<string>iMac12,2</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>15C31</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Boot Camp Assistant</string>
	<key>CFBundleExecutable</key>
	<string>Boot Camp Assistant</string>
	<key>CFBundleGetInfoString</key>
	<string>Boot Camp Assistant 6.0.0, Copyright © 2015 Apple Inc. All rights reserved</string>
	<key>CFBundleIconFile</key>
	<string>DA</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.bootcampassistant</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Boot Camp Assistant</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>522</string>
	<key>DARequiredROMVersions</key>
	<array>
		<string>IM41.0055.B08</string>
		<string>IM42.0071.B03</string>
		<string>IM51.0090.B03</string>
		<string>IM52.0090.B03</string>
		<string>IM61.0093.B01</string>
		<string>MP11.005C.B04</string>
		<string>MB11.0061.B03</string>
		<string>MBP11.0055.B08</string>
		<string>MBP12.0061.B03</string>
		<string>MM11.0055.B08</string>
	</array>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7C43</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15C31</string>
	<key>DTSDKName</key>
	<string>macosx10.11internal</string>
	<key>DTXcode</key>
	<string>0720</string>
	<key>DTXcodeBuild</key>
	<string>7C43</string>
	<key>ExternalInstallOnlyModels</key>
	<array>
		<string>MacBook8,1</string>
		<string>MacBookAir7,1</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>PreESDRequiredModels</key>
	<array>
		<string>MacBook7</string>
		<string>MacBookAir5</string>
		<string>MacBookPro10</string>
		<string>MacPro5</string>
		<string>Macmini6</string>
		<string>iMac13</string>
	</array>
	<key>PreUEFIModels</key>
	<array>
		<string>MacBook7</string>
		<string>MacBookAir5</string>
		<string>MacBookPro10</string>
		<string>MacPro5</string>
		<string>Macmini6</string>
		<string>iMac13</string>
	</array>
	<key>PreUSBBootSupportedModels</key>
	<array>
		<string>MacBook7,1</string>
		<string>MacBookAir3,2</string>
		<string>MacBookPro8,3</string>
		<string>MacPro5,1</string>
		<string>Macmini4,1</string>
		<string>iMac12,2</string>
	</array>
	<key>Win7OnlyModels</key>
	<array>
		<string>MacBook7,1</string>
		<string>MacBookAir3,2</string>
		<string>MacBookPro5,5</string>
		<string>MacPro2,1</string>
		<string>Macmini4,1</string>
		<string>iMac10,1</string>
	</array>
</dict>
</plist>
