{% extends 'torneo.html' %}
{% load staticfiles sekizai_tags %}

{% block title %}Login{% endblock %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block css %}
	{% addtoblock "css" %}
		<link href="{% static 'css/hokimi.css' %}" rel="stylesheet" type="text/css" />
	{% endaddtoblock %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-md-offset-6">
        	<h1 class="text-center login-title">Inicia la sesión con tu cuenta de Hokimi</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin" method="post" action=".?next={{request.META.HTTP_REFERER}}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Inicia la sesión</button>
                <!--a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span-->
                </form>
            </div>
		    <div class="spacer spacer-md"></div>
            <a href="{% url 'torneos:signup' %}" class="text-center new-account">Crea una cuenta</a>
        </div>
    </div>
    <div class="spacer spacer-md"></div>
</div>

{% endblock %}