{% extends 'profiles/account_settings.html' %}
{% load staticfiles sekizai_tags %}
{% load crispy_forms_tags %}

{% block title %}Configuración | cuenta{% endblock %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block css %}
  {% addtoblock "css" %}
    <link href="{% static 'css/hokimi.css' %}" rel="stylesheet" type="text/css" />
  {% endaddtoblock %}
{% endblock %}


{% block content_page %}
		<div class="col-md-19 col--delineated-lg"> 
			<div class="col-md-1 "> </div>
			<div class="col-md-18 ">
				<h2>Password</h2>
				<p>Change your password</p>

				<form method="post">
					{% csrf_token %}
					{% crispy form %}
				   <div class="spacer spacer-xs"></div>

				   <button type="button" class="btn btn-primary">Save changes</button>
				</form>

			</div>
		</div>		
{% endblock %}
